body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #2C3E50;
    margin-top: 40px;
}

#weather-city-selection {
    max-width: 400px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 24px;
    text-align: center;
    border: 5px solid lightblue;
    background:linear-gradient(to right, rgba(135, 207, 235, 0.7) 20%, rgba(255, 255, 255, 0.7) 60%, hsla(202, 76%, 40%, 0.7));
}

select {
    width: 100%;
    height: auto;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fafafa;
    cursor: pointer;
}

select option {
    font-size: 1em;
}

#weather-forecast {
    color: #687981;
    margin-left: auto;
    margin-right: auto;
    margin-top : 5vw;
    max-width: 90%;
    max-height: 60%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: transparent hwb(212 14% 13% / 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 123, 255, 0.15);
    padding: 32px 24px;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.forecast-card {
    width: 14%;
    height: 90%;
    flex: 1;
    background: rgba(255,255,255,0.7);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,123,255,0.08);
    padding: 16px;
    text-align: center;
    color: #1565c0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-day{
    margin: 0 0 8px 0;
    font-size: 1.3em;
    color: #1976d2;
}

.weather-icon img {
    width: 10vw;
    height: 5vw;
    margin-bottom: 8px;
}

.temperature {
    white-space: nowrap;
    font-size: 1em;
    font-weight: bold;
    color: #0d47a1;
    margin-bottom: 4px;
}

.weather-description {
    height: 4.5vh;
    margin-top: 3%;
    font-size: 1.3em;
    color: #0d47a1;
}


#weather-title {
    background: linear-gradient(to right, oklch(40.806% 0.26986 266.87 / 0.8), oklch(21.274% 0.00253 248.167 / 0.8), oklch(40.806% 0.26986 266.87 / 0.8));
    width: 40%;
    margin: 5% auto;
    font-size: 2em;
    margin-bottom: 0;
    color: hwb(178 87% 4%);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 50%;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    margin-right:auto;
    background-color: #0d47a1;
}

.weather-description-label, .temperature-label {
    font-size: 1.3em;
    color: #0d47a1;
    margin-top: 8px;
    font-weight: bold;
}


/* Responsive styles for tablet */
@media (max-width: 900px) {
    body{
        background-size: 1300px 950px;
    }

    #weather-title {
        margin-top: 20%;
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 1.5em;
    }

    #weather-forecast {
        flex-direction: column;
        align-items: center;
        max-height: none;
    }
    .forecast-card {
        flex: 0 0 40%;
        min-width: 40%;
        max-width: 40%;
        min-height: 50%;
        max-height: 50%;
        margin-bottom: 16px;
    }

    .forecast-day {
        height: 50px;
        font-size: 1.3em;
    }

    .temperature {
        margin-top: 5%;
        width: 90%;
        text-wrap: wrap;
        font-size: 1.2em;
    }


    .weather-icon img {
        width: 30vw;
        height: 15vw;
    }

    #forecast-container {
        flex-direction: row;
        overflow-x: scroll;
        gap: 20px;
    }

    #weather-city-selection {
        margin-top: 30%;
        width: 90%;
        padding: 16px;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        color: white;
        margin-right:auto;
        background-color: #0d47a1;
    }
}

/* Responsive styles for phone */
@media (max-width: 600px) {
    body{
        background-size: 1300px 950px;
    }

    #weather-title {
        margin-top: 10%;
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 1.5em;
    }

    #weather-forecast {
        flex-direction: column;
        align-items: center;
        max-height: none;
    }
    .forecast-card {
        flex: 0 0 40%;
        flex-direction: column;
        min-width: 40%;
        max-width: 40%;
        min-height: 50%;
        max-height: 50%;
        margin-bottom: 16px;
    }

    .forecast-day {
        height: 50px;
        font-size: 1.3em;
    }

    .temperature {
        margin-top: 5%;
        width: 90%;
        text-wrap: wrap;
        font-size: 1.2em;
    }

    .weather-icon img {
        width: 30vw;
        height: 15vw;
    }

    #forecast-container {
        flex-direction: row;
        overflow-x: scroll;
        gap: 20px;
    }

    #weather-city-selection {
        margin-top: 15%;
        width: 90%;
        padding: 16px;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        color: white;
        margin-right:auto;
        background-color: #0d47a1;
    }
    .weather-description-label, .temperature-label {
    font-size: 1em;
    color: #0d47a1;
    margin-top: 8px;
    font-weight: bold;
    }
}
